/* Allows images to be centred*/
img {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.markdown-source-view.mod-cm6 .cm-content > * {
	margin: auto auto !important;
}

/* The formatting for the codeblock runner button */
.codeblock-runner-button {
	font: 13px "Consolas", Consolas;
	font-family: Consolas, sans-serif, monospace;

	color: var(--text-normal);
	background-color: #282c34 !important;
	border-radius: 10px 10px 10px 10px;

	display: block;

	margin: 5px;
	padding: 3px 8px;
	font-size: 0.8em;

	top: 25px;
	left: 50px;

	z-index: 2;
}

.codeblock-runner-button:hover {
	cursor: pointer;
	background-color: #3e4450 !important;
}

.codeblock-runner-button:focus {
	/* Avoid an ugly focus outline on click in Chrome,
	   but darken the button for accessibility.
	   See https://stackoverflow.com/a/25298082/1481479 */
	background-color: var(--text-normal);
	outline: 0;
}

.codeblock-runner-button:active {
	background-color: var(--text-normal);
}

/* Used to avoid adding a button more than once */
.has-codeblock-runner-button {
	position: relative;
}

/* The formatting for the codeblock runner close button */
.codeblock-runner-close-button {
	color: var(--text-normal);
	background-color: #2f3034;
	border-radius: 10px;
	display: block;
	font-size: 0.8em;
	position: absolute;
	margin: -3px;
	right: 35px;
	padding: 8px;
}

.codeblock-runner-close-button:hover {
	background-color: #3e4450;
}

.highlight pre {
	margin: 0;
}

/* The main output div */
.codeblock-runner-output {
	background: #2f3034;
	border-color: #2f3034;
	border-radius: 10px;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: inherit;
	font-family: "consolas", sans-serif;
	margin: 10px;
}

/* A single line in the output */
.codeblock-runner-output-line {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 8px;
}

/* A line number in the output */
.codeblock-runner-output-line-number {
	color: #1c9494 !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Text in the output line */
.codeblock-runner-output-text {
	margin: 0px;
	color: #bdbdbd;
}

/* Runtime tag */
.codeblock-runner-output-runtime-tag {
	margin: 0px;
	color: #a943e1;
}

.codeblock-runner-output-runtime-value {
	margin: 0px;
	color: #4ba1e7;
}
