.run-code-button {
	color: var(--background-primary);
	background-color: var(--text-faint);
	border-radius: 10px 10px 10px 10px;

	/* right-align */
	display: block;
	margin-left: auto;
	margin-right: 0;

	margin-bottom: -2px;
	padding: 3px 8px;
	font-size: 0.8em;

	position: absolute;
	top: 0px;
	right: 0px;
}

.run-code-button:hover {
	cursor: pointer;
	background-color: var(--text-normal);
}

.run-code-button:focus {
	/* Avoid an ugly focus outline on click in Chrome,
	   but darken the button for accessibility.
	   See https://stackoverflow.com/a/25298082/1481479 */
	background-color: var(--text-normal);
	outline: 0;
}

.run-code-button:active {
	background-color: var(--text-normal);
}

.code-runner-output {
	background: inherit;
	font-size: inherit;
	font-family: "consolas", sans-serif;
	padding: 10px;
	border: 1px solid lightgray;
	margin: 10px;
}

.highlight pre {
	margin: 0;
}

.has-run-code-button {
	position: relative;
}

.code-runner-output {
	background: #2f3034;
	border-color: #2f3034;
	border-radius: 10px;
	padding: 10px 15px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: flex-start;
}

.code-runner-output-line {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
    align-items: flex-start;
	gap: 8px;
}

.code-runner-output-line-number {
	color: #09abab;
	-webkit-user-select: none;
	-moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.code-runner-output-text {
	margin: 0px;
	color: #bdbdbd;
}
